*.vcxproj
*.rule
*.cmake
*.tlog
*.lastbuildstate
*.obj
*.exe
*.exe
build/CMakeFiles/3.0.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.0.1/CompilerIdC/CMakeCCompilerId.c
*.bin
build/CMakeCache.txt
*.check_cache
*.depend
*.log
*.pdb
build/CMakeFiles/TargetDirectories.txt
*.opensdf
*.suo
*.filters
build/src/dali/Debug/dali.lib
build/src/dali/Release/dali.lib
*.sln
*.list
*.stamp
*.sdf
*.user
build/dali.lib
2p1m2ehr.3gu.txt